* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #fde7f3, #fff);
}

/* LOGIN */
.auth-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 360px;
  background: white;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.auth-card h2 {
  color: #db2777;
  margin-bottom: 10px;
}

.auth-card input {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.auth-card button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #db2777;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.auth-card button:hover {
  background: #be185d;
}

/* LAYOUT */
.app-layout {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: linear-gradient(180deg, #db2777, #be185d);
  color: white;
  padding: 20px;
}

.sidebar img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
}

.sidebar h3 {
  text-align: center;
  margin-bottom: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebar li:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
  background: #f9fafb;
}
